<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="btn-container">
      <h5>PLAY</h5>
      <button ng-hide="playing" ng-click="start()" class="btn btn-big btn-default"> </button>
      <button ng-show="playing" ng-click="restart()" class="btn btn-big btn-default"> </button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="btn-container">
      <h5>STOP</h5>
      <button ng-disabled="!playing" ng-click="stop()" class="btn btn-big btn-default"> </button>
    </div>
  </div>
</div>
