<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h5>MEAS/TEMPO</h5>
    <!--div class="tempo-measure" ng-click="countBPM()">{{settings.tempo}}</div-->
    <div class="tempo-measure">{{settings.tempo}}</div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h5>TEMPO</h5>
    <!--input class="form-control" type="range" min="1" max="600" ng-model="settings.tempo"></input-->
    <div class="knob-bg">
      <!--div draggable="true" class="knob large"-->
      <div class="knob large">
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>
