<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h5>TRACK</h5>
    <div class="track-btn-row">
      <button class="btn btn-sm" ng-class="{'btn-danger': track == selected.track}" ng-click="setTrack(track)" ng-repeat="track in tracks track by $index"></button>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h5>PATTERN</h5>
    <div class="track-btn-row">
      <button class="btn btn-sm" ng-class="{'btn-danger': pattern == selected.pattern && selected.track == selected.orig_track}" ng-click="setPattern(pattern)" ng-repeat="pattern in patterns track by $index"></button>
    </div>
  </div>
</div>
